{#
Copyright (c) 2017,2022-2023 Alex Urich <urichalex@mail.ru>
License: GNU LGPL 2 only, see file LICENSE
#}
{{ use('kartik/form/ActiveForm') }}
<div class="ban-update">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ t('admin/comments', 'UPDATE_TITLE', {name: model.name}) }}</h3>
        </div>
        <div class="card-body">
            {% set form = active_form_begin({
                id: 'comments-form',
                type: 'horizontal',
            }) %}
            {{ form.field(model, 'name') | raw }}
            {{ form.field(model, 'comment').textarea({rows: 4}) | raw }}
            {{ form.field(model, 'moderated').checkbox() | raw }}
            <div class="col-md-10 offset-md-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ t('admin/webadmins', 'FORM_SAVE_BUTTON') }}</button>
                </div>
            </div>
            {{ active_form_end() }}
        </div>
    </div>
</div>