{#
Copyright (c) 2017,2022-2023 Alex Urich <urichalex@mail.ru>
License: GNU LGPL 2 only, see file LICENSE
#}
{{ use('kartik/form/ActiveForm') }}
<div class="admin-create">
    {{ pjax_begin({
        formSelector: '#params-form',
    }) }}
    <div class="row">
        <div class="col-md-2">
            {{ nav_widget({
                options: {class: 'flex-column nav-pills'},
                items: blocks
            }) }}
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ t('admin/params', 'INDEX_TITLE') }}</h3>
                </div>
                <div class="card-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ pjax_end() }}
</div>
